.newsOfCenter {
    display: flex;
    flex-wrap: wrap;
}

.newsOfCenter h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #222222;
    width: 100%;
}

.allNewsLink {
    border: 2px solid #5c00bc;
    margin: 50px auto 60px auto;
    border-radius: 3px;
}

.allNewsLink a {
    color:  #5C00BC;
    text-decoration: none;
    padding: 18px 75px;
    display: block;
}